@import "./utils/variables";
@import "./components/header";
@import "./components/slider";
@import "./components/articles";
@import "./components/what-we-do.scss";
@import "./components/our-team";
@import "./components/our-customers";
@import "./components/portfolio-menu";
@import "./components/portfolio-section";
@import "./components/footer";
@import "./components/modal";

body {
    font-family: 'Roboto'
}

h1,
h2,
h3,
h4,
ul,
p {
    margin: 0;
    padding: 0
}

ul {
    list-style: none
} 

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto
}

.section {
    padding: 94px 0
}

img {
    vertical-align: middle
}

a {
    text-decoration: none;
}