.articles {
    display: flex;
    gap: 30px;
}

.articles h3 {
    font-weight: 700;
    font-size: 14px;
    color: $BlackColor;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.articles p {
    font-size: 14px;
    color: $DarkGrayColor;
    letter-spacing: 0.03em;
    line-height: 24px;
}

.articles___icon-bg {
    background: $LightPurtpleColor;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.articles__icon {
    margin-top: 25px;
    margin-bottom: 25px;
}
