.footer > .container {
    display: flex;
}
.footer {
    padding: 60px 0;
}

.footer a {
    text-decoration: none;
    display: flex;
    padding: 0px;
}

.footer__bg {
    background: $FooterBG;
}

.address {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration: none;
    padding-top: 20px;
}

.footer-adress {
    font-weight: bold;
    color: $WhiteColor;
}

.footer-adress a {
    text-decoration: none;
    color: $WhiteColor;
    transition: $TransitionSet;
}

.footer__contact {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
}

.footer__contact a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
        color: $BlueColor;      
    }
}

.footer__trs-link {
    transition: color $TransitionSet);
}

.footer__joinus-box {
    width: 206px;
    height: 80px;
    padding-top: 12px;
    margin-left: 70px;
}

.footer__joinus-heading {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: $WhiteColor;
}

.footer__social-icons {
    display: flex;
    gap: 10px;
}

.footer__social-icon-svg {
    fill: $WhiteColor;
    margin: 12px;
}

.footer__social-icon-bg {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    transition: background-color $TransitionSet;

    &:hover,
    &:focus {
        border-radius: 50%;
        background-color: $BlueColor;
        width: 44px;
        height: 44px;
        gap: 10px;
        cursor: pointer;
    }
}

.footer__newsletter {
    width: 570px;
    height: 86px;
    margin-left: 78px;
    margin-top: 12px;
}

.footer__sub-box {
    display: flex;
}

.footer__newsletter h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-style: bold;
    font-size: 14px;
    line-height: 16px;
    color: $WhiteColor;
    margin-bottom: 20px;
}

.footer__form-sub {
    width: 358px;
    height: 50px;
    background-color: transparent;
    border-radius: 4px;
    border-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;

    &::placeholder {
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        padding-left: 16px ;
    }
}

.footer__button-subscribe {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border: none;
    border-radius: 4px;
    background-color: $BlueColor;
    margin-left: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0px 28px 0px 42px;
    gap: 24px;
    transition: background-color $TransitionSet;

    &:hover,
    &:focus {
        background-color:  rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

.footer__sub-button-text {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: $WhiteColor;
}

.footer__icon-send-sub {
    fill: $WhiteColor;
}
