.navigation-contact {
    list-style: none;
    font-weight: 500;
    font-size: 14px;
}

.navigation-contact a {
    color: $DarkGrayColor;
    transition: $TransitionSet;
}

.nav-contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-contact:hover,
.nav-contact:focus {
    color: $BlueColor;
    fill: currentColor;
}

.nav-contact-icon {
    vertical-align: middle;
    margin-right: 10px;
    fill: currentColor;
}