
/* PORTFOLIO - MENU */

.portfolio-section {
    display: flex;
}

.portfolio-menu {
    list-style: none;
    display: flex;
    size: 100%;
    gap: 8px;
}

.portfolio-menu a {
    text-decoration: none;
}

.portfolio-menu-box {
    margin-top: 94px;
    justify-content: center;
}

.button-portfolio {
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background: #f5f4fa;
    box-shadow: none;
    transition-duration: 0.4s;
    width: 121px;
    height: 38px;
    transform: color $TransitionSet;
}

.button-portfolio:hover,
.button-portfolio:focus {
    color: $WhiteColor;
    background-color: $BlueColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* PORTFOLIO - SECTION */ 

.portfolio-grid {
    flex-wrap: wrap;
    gap: 30px;
}

.portfolio-box {
    margin-top: 50px;
    margin-bottom: 94px;
}

.portfolio-list {
    font-family: 'Roboto';
    font-style: normal;
    line-height: 30px;
    letter-spacing: 0.03em;
    list-style: none;
    width: calc((100% - 60px) / 3 );
}

.portfolio-list:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: box-shadow $TransitionSet;
  }

.portfolio-figure {
    width: 370px;
    background-color: $WhiteColor;
    margin: 0 auto;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.portfolio figcaption {
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.img-box {
    position: relative;
    overflow: hidden;
}

.portfolio-list h3 {
    font-weight: 700;
    font-size: 18px;
    margin-left: 24px;
    color: $BlackColor;
    padding-top: 20px;
}

.portfolio-list p {
    font-size: 16px;
    margin-left: 24px;
    color: $DarkGrayColor;
    padding-top: 4px;
    padding-bottom: 20px;
}

.portfolio-overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: $TransitionSet;
  }

  .portfolio-overlay p {
    font-style: normal;
    height: 294px;
    width: 370px;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $WhiteColor;
    margin-left: 0px;
    padding: 49px 45px 49px 24px;
    line-height: 1.56;
  }

  .portfolio-figure:hover .portfolio-overlay {
    transform: translateY(0);
  }
