.social-icon {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  gap: 10px;

  &__svg {
    display: flex;
    fill: $Gray-icons-color;
    padding: 12px;

    &:focus,
    &:hover {
      background-color: $BlueColor;
      transition: background-color $TransitionSet;
      fill: $WhiteColor;
      border-radius: 50%;
      width: 44px;
      height: 44px;
    }
  }

  &__svg--footer {
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color $TransitionSet;
    border-radius: 50%;
    fill: $WhiteColor;
  }

  &__svg-bg {
    background-color: $WhiteColor;
    transition: fill $TransitionSet;
  }

  &_svg-bg--footer {
    &:hover,
    &:focus {
      background-color: $BlueColor;
      border-radius: 50%;
      gap: 10px;
      cursor: pointer;
    }
  }
}
